<div class="app-body">
    <ng-snotify></ng-snotify>
    <main class="main d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mx-auto">
            <div class="card-group">
              <div class="card p-4">
                <div class="card-body">
                  <form #PasswordResetResponse=ngForm (ngSubmit)="onSubmit()">
                    <h1>Change Password</h1>
                    <p class="text-muted">Enter your new password</p>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-user"></i></span>
                      </div>
                      <input type="email" name="email" class="form-control" placeholder="Email" [(ngModel)] = "form.email" required >
                    </div>
                    <div class="input-group mb-4">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-lock"></i></span>
                      </div>
                      <input type="password" name="password" class="form-control" [(ngModel)] = "form.password" placeholder="Password" autocomplete="current-password" required>
                    </div>
                    <div class="input-group mb-4">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="icon-lock"></i></span>
                        </div>
                        <input type="password" name="password_confirmation" class="form-control" [(ngModel)] = "form.password_confirmation" placeholder="Password_confirmation" autocomplete="current-password" required>
                      </div>
                    <div class="row">
                      <div class="col-6">
                        <button type="submit" class="btn btn-primary px-4" [disabled]="!PasswordResetResponse.valid">Change Password</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  